
/* Social Media Buttons*/
.mediabuttons {
    position: inherit; 
}

.fa {
    width: 15px;
    height: 15px;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s ease;
}
  
.fa:hover:not(.disabled) {
    transform-origin: center;
    transform: scale(1.15);

}
  
.fa-twitter {
      background: var(--twitter);
      color: var(--text-main);
}
  
.fa-youtube {
      background: var(--youtube);
      color: var(--text-main);
}
    
.fa-instagram {
      background: var(--facebook);
      color: var(--text-main);
}

/*Animation for hiding a showing content*/

.hidden {
    display: none;
}

.active {
    display: block;
}

.show {
    opacity: 1;
    transition: .5s ease;
    transition-delay: .3s;   
}

.hide {
    opacity: 0;
    transition: .1s ease; 
}

.disabled {
    opacity: 0.3;
}



/*The look of main content*/

.content {
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 15px;
    overflow: auto;
    background-color: var(--background-main)
}

/*
    Look of the About content of the page
    Style of the info space
    Style of the info card
*/

.content2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    position: fixed;
    width: 0vw;
    visibility: hidden;
    height: 100vh;
    left: 100vw;
    text-align: center;
    background-color: var(--background-sub);
    transition: .5s ease;
}

.content2.active {
    width: 20vw;
    visibility: visible;
    left: 80vw;
}

.info {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    margin: 0;
    padding: 10% 0% 5% 0%;
    background-color: var(--background-card);
    width: 100%;
    height: 400px;
    position: relative;
}

.skillset{
    margin: 0;
    text-align: left;
    padding: 5%;
}

.container:not(.creator) {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--background-sub2);
}

.creator .container {
    width: 100%;
    background-color: #c9304a;
}

.creator {
    background-color: var(--skill-bar);
}

.card.creator {
    padding: 10% 0% 20% 0%;
}

.creator.fa {
    background-color: #3E50B4;
}

/*  
    Styling and arrangement for the images (gallery)
    Magnify the image a bit when hovering over it
    Magnify the image by 2 when holding the left mouse button
*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
} 

.column {
    flex: 25%;
    max-width: 24.4%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

.imgcontainer {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 5% 0px 5% 0px;
    text-align: center;
}

.imgcontainer:hover .overlay {
    opacity: 1;
}

#logo {
    margin: 30px 0px 0px 60px;
    width: 70px;
    height: 70px;
    transform-origin: 50% 50%;
}

img:not(#logo) {
    z-index: 1;
    transition-duration: 0.5s;
}

/* img:hover:not(#logo){
    transform-origin: center;
    transform: scale(1.15);
    z-index: 2;
} */

/*Scroll bar*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar); 
}

::-webkit-scrollbar-corner {
    display: none;
}

.info::-webkit-scrollbar {
    display: none;
}


