@media only screen and (max-width: 1900px) {
    .column {
        flex: 25%;
        max-width: 23%;
   }

   #title {
    font-size: 18px;
   }
   
}

@media only screen and (max-width: 1600px) {
    img:hover:not(#logo){
        transform-origin: center;
        transform: scale(2);
        z-index: 2;
    }
}

@media only screen and (max-width: 1400px) {
    #title {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    a:not(.fa) {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #logo {
        display: none;
    }
    
    .navigation {
        width: 50px;
    }

    .nav:hover:not(.actief) {
        background: var(--background-alt);
        width: 100%;
    }

    .nav.actief {
        background: var(--background-alt);
        width: 100%;
    }

    .content2.active {
        width: 30vw;
        left: 70vw;
    }

    .info {
        width: 30vw;
    } 

}

@media only screen and (max-width: 1000px) {  
    .content2.active {
        width: 50vw;
        left: 50vw;
    }

    .info {
        width: 50vw;
    } 
}

@media only screen and (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 47%;
    }

    .content2.active {
        width: calc(100vw - 50px);
        left: 50px;
    }

    .info {
        width: calc(100vw - 50px);
    } 
}
